#
# Plugin configuration file for Image/J 1.31s or newer
#

# Author:   Jarek Sacha
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.31s

File>Save As,     "PNG ...",                    net.sf.ij_plugins.imageio.plugins.ImageIOWriterPlugin("PNG")
File>Save As,     "PNM ...",                    net.sf.ij_plugins.imageio.plugins.ImageIOWriterPlugin("PNM")
File>Save As,     "JPEG2000 ...",               net.sf.ij_plugins.imageio.plugins.ImageIOWriterPlugin("jpeg2000")
File>Save As,     "Compressed TIFF ...",        net.sf.ij_plugins.imageio.plugins.ImageIOWriterPlugin("TIFF")

Plugins>Image IO, "Open ...",                   net.sf.ij_plugins.imageio.plugins.ImageIOOpenPlugin("")
Plugins>Image IO, "Open with preview ...",      net.sf.ij_plugins.imageio.plugins.ImageIOOpenPlugin("preview")
Plugins>Image IO, "Save as ...",                net.sf.ij_plugins.imageio.plugins.ImageIOSaveAsPlugin
# Plugins>Image IO, "Scan ImageIO plugin codecs ...",  net.sf.ij_plugins.imageio.plugins.ImageIOScanPlugin("")

Help>About Plugins, "ijp-ImageIO ...",                     net.sf.ij_plugins.imageio.plugins.AboutImageIO("")
Help>About Plugins, "ijp-ImageIO readers & writers ...",   net.sf.ij_plugins.imageio.plugins.ImageIOInfoPlugin("")
