#
# Plugin configuration file for Image/J 1.31s or newer
#

# Author:   Jarek Sacha
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.31s

File>Save As,     "PNG ...",                    ij_plugins.imageio.plugins.ImageIOWriterPlugin("PNG")
File>Save As,     "PNM ...",                    ij_plugins.imageio.plugins.ImageIOWriterPlugin("PNM")
File>Save As,     "JPEG2000 ...",               ij_plugins.imageio.plugins.ImageIOWriterPlugin("jpeg2000")
File>Save As,     "Compressed TIFF ...",        ij_plugins.imageio.plugins.ImageIOWriterPlugin("TIFF")

Plugins>Image IO, "Open ...",                   ij_plugins.imageio.plugins.ImageIOOpenPlugin("")
Plugins>Image IO, "Open with preview ...",      ij_plugins.imageio.plugins.ImageIOOpenPlugin("preview")
Plugins>Image IO, "Save as ...",                ij_plugins.imageio.plugins.ImageIOSaveAsPlugin
# Plugins>Image IO, "Scan ImageIO plugin codecs ...",  ij_plugins.imageio.plugins.ImageIOScanPlugin("")

Help>About Plugins, "IJP-ImageIO ...",                     ij_plugins.imageio.plugins.AboutImageIO("")
Help>About Plugins, "IJP-ImageIO readers & writers ...",   ij_plugins.imageio.plugins.ImageIOInfoPlugin("")
