#
# Plugin configuration file for Image/J 1.31s or newer
#

# FIX: Autogenerate date during build.
# FIX: Auto update date during build
# TODO: Add about dialog
# TODO: Add uninstall instructions?

# Author: Jarek Sacha
# Version: 1.2.0
# Date: 2004/01/07
# Requires: ImageJ 1.31s

Plugins>Image IO, "About Image IO ...", net.sf.ij.plugin.AboutImageIO("")
Plugins>Image IO, "Open ...", net.sf.ij.plugin.JAIReaderPlugin("simple")
Plugins>Image IO, "Open with preview ...", net.sf.ij.plugin.JAIReaderPlugin("preview")
Plugins>Image IO, "Save as ...", net.sf.ij.plugin.JAIWriterPlugin("")
Plugins>Image IO, "Remove obsolete JAI Image IO plugins ...", net.sf.ij.plugin.RemoveOldPlugins("")
